*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    overflow: hidden;
    background-color: #ff9aa2;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23ffdfd3' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

header .logo{
    color: #8009f7;
    font-size: 50px;
    line-height: 100px;
    float: left;
}

header img{
    width: 7%;
    height: 7%;
    text-align: left;

}

header nav{
    text-align: right;
    line-height: 100px;
}

header nav a{
    display: inline-block;
    color: #8009f7;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
}

header nav a:hover{
    background: #f56f3a;
    border-radius: 50px;
}

body{
    background-color: #fec8d8;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23957dad' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

H1{
 text-align: center;
 color: #8009f7;
}

H2{
    color: #8009f7;
   }

p{
    text-align: center;
    color: #500af3;
    font-size: x-large;
}

.columna {
    float: left;
    width: 33%;
    padding-right: 5px;
}

.fila::after {
    content: "";
    clear: both;
    display: table;
}

img {
    width: 100%;
}

.form{
    width: 500px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
  
h4{
    font-size: 22px;
    margin-bottom: 20px;
}
  
input{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

select{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

textarea{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
      
.boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

table {
    width: 100%;
}

td{
  font-family: Verdana;
  font-size: large;
  border: 1px solid #000;
}

th{
    font-size: large;
    width: auto;
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    background-color: #8009f77a;
    color: white;
    border: 1px solid #000;
}

caption{
    font-family: 'Times New Roman';
    font-size: x-large;
    width: 400px;
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    background-color: rgb(255, 115, 0);
    color: white;
}

tr:hover {
    background-color: coral;
}
